---
layout: default
---

<!--                            
This layout is used for posts. Changing anything here will affect all posts(not pages)
 -->

<!-- {% include breadcrumbs.html %} -->

{% if page.chapter %}
<h2>Chapter {{page.chapter}}</h2>
{% endif %}

{{content}}

{% if page.nextChapter %}
<a href="/chapters/{{page.prefix}}-ch{{page.nextChapter}}" class="btn btn-primary">Next Chapter</a>
{% else %}

<div class="d-flex justify-content-center flex-nowrap my-4">
  <div class="card" style="max-width: 640px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{page.image}}" class="img-fluid rounded-start">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">That's everything published so far</h5>
          <p class="card-text">
            If you want, I can send you an email when I release the next chapter.
          </p>
          <p class="card-text">
            <a href="{{page.signupLink}}" class="btn btn-primary">Notify Me</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
